@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(252, 252, 252, 1);
  color: rgba(32, 32, 32, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(98, 16, 82, 1);
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(98, 16, 82, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 8px;
  background: linear-gradient(180deg, #621052 1%, #36399e 50.5%, #04b2e7 100%);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(252, 252, 252, 1);
  width: 190px;
  height: 44px;
  display: block;
  border-radius: 8px;
  padding: 10px 0;

  border: 1px solid transparent;
}
.navigation__item-desk {
  font-family: Archivo;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.navigation__link:hover,
.navigation__link:focus {
  text-decoration: none;
  border: 1px solid rgba(255, 229, 83, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 55px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 1px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Archivo;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    padding: 14px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 603px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  font-family: Archivo;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -5%;
  text-align: center;

  color: rgba(98, 16, 82, 1);
  padding: 15px 0 0;
}
.home__google-button_image {
  width: 280px;
  height: 72px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 875px;
    padding: 649px 0px 0px;
    background-image: url("/img/home/1_home.png");
  }

  .home-text {
    font-family: Archivo;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -6%;
    text-align: center;

    padding: 24px 0 0;
  }
}
.why {
  width: 375px;
  height: 790px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/5_gameAtmosphere_mob.png");
}

.why-text {
  margin-top: 32px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(255, 242, 168, 1);
  box-shadow: 0px 4px 4px 0px rgba(98, 16, 82, 0.8);
  font-family: Archivo;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -2px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 380px;
    padding: 60px 172px 0;
    background-image: url("/img/5_gameAtmosphere.png");
  }
  .why-text {
    margin-top: 40px;
    border-radius: 16px;

    border-radius: 16px;
    padding: 16px;
    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;

    text-align: center;
  }
}
.uniqueness {
  width: 375px;
  height: 746px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/8_cta_mob.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uniqueness-text {
  font-family: Archivo;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -5%;
  text-align: center;
  color: rgba(252, 252, 252, 1);
  -webkit-text-stroke: 2px rgba(94, 9, 89, 1);
  padding: 40px 0 350px;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 792px;
    padding: 60px 0px 0;

    background-image: url("/img/8_cta.png");
  }

  .uniqueness-text {
    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -5%;
    -webkit-text-stroke: 1px rgba(94, 9, 89, 1);

    padding: 84px 0 402px;
  }
}
.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1028px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_about_mob.png");
}

.about-title {
  font-family: Archivo;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(94, 9, 89, 1);

  -webkit-text-stroke: 3px rgba(94, 9, 89, 1);
  color: rgba(255, 137, 181, 1);
}

.about-text {
  font-family: Archivo;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -1px;
  text-align: center;

  padding: 32px 0px 256px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-item {
  background: rgba(252, 252, 252, 1);
  box-shadow: 0px 2px 4px 0px rgba(32, 32, 32, 0.6),
    0px 0px 8px 0px rgba(255, 137, 181, 1) inset;
  width: 343px;
  border-radius: 16px;
  padding: 24px;
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 108px 0;
    width: 1440px;
    height: 857px;
    background-image: url("/img/2_about.png");
  }
  .about-title {
    font-family: Archivo;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -6%;
  }

  .about-text {
    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;

    padding: 40px 0px 52px;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .about-item {
    width: 404px;
    height: 112px;
    border-radius: 16px;
    padding: 32px;
    font-family: Archivo;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;
  }
  .about-item-two {
    margin-top: 48px;
  }
}
.how {
  width: 375px;
  height: 1123px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3_howToPlay_\ mob.png");
}

.how-list {
  padding-top: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-item {
  width: 342px;
  border-radius: 24px;
  padding: 15px 8px;
  background: rgba(4, 178, 231, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-text-bold {
  font-family: Archivo;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -6%;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 18px 22px;
  background: rgba(255, 229, 83, 1);
  box-shadow: 0px 2px 4px 0px rgba(32, 32, 32, 1);
  margin-right: -24px;
  position: relative;
  z-index: 2;
}
.how-text {
  font-family: Archivo;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -1px;
  padding: 11px 7px 11px 37px;
  background: rgba(252, 252, 252, 1);
  width: 275px;

  border-radius: 16px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 776px;
    padding: 60px 172px 0;
    background-image: url("/img/3_howToPlay.png");
  }

  .how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .how-item {
    width: fit-content;
    border-radius: 24px;
    padding: 10px 16px;
    background: rgba(4, 178, 231, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .how-text-bold {
    font-family: Archivo;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -6%;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    padding: 18px 22px;
    background: rgba(255, 229, 83, 1);
    box-shadow: 0px 2px 4px 0px rgba(32, 32, 32, 1);
    margin-right: 0px;
    position: relative;
    z-index: 2;
  }
  .how-text {
    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -5%;

    padding: 16px 49px 20px 18px;
    background: rgba(252, 252, 252, 1);
    width: auto;

    border-radius: 16px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews-item {
  border-radius: 16px;
  padding: 10px 16px;
  background: rgba(155, 232, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(98, 16, 82, 0.7);
}
.reviews-item-two {
  background: rgba(254, 238, 147, 1);
}
.reviews-item-three {
  background: rgba(132, 244, 226, 1);
}
.reviews-item-four {
  background: rgba(252, 201, 165, 1);
}
.reviews-item-five {
  background: rgba(235, 195, 255, 1);
}
.reviews-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -4%;
}
.reviews-text {
  font-family: Archivo;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 60px;
  }
  .reviews-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
  .reviews-item {
    width: 255px;
    height: 160px;
    border-radius: 16px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reviews-item-top {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .reviews-text-bold {
    font-family: Archivo;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -4%;
  }
  .reviews-text {
    font-family: Archivo;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -4%;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: rgba(115, 209, 194, 1);
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background: rgba(252, 252, 252, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Archivo;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -5%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -4%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 60px 172px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 12px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -5%;
  }

  .faq-answer {
    font-family: Archivo;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -4%;
  }
}
.features {
  width: 375px;
  margin: auto;
  background: rgba(115, 209, 194, 1);

  padding: 40px 16px;
}

.features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  border-radius: 16px;
  padding: 16px;
  background: rgba(252, 252, 252, 1);
  box-shadow: 1px 2px 4px 0px rgba(98, 16, 82, 0.8);
  display: flex;
  align-items: center;
  gap: 16px;
}

.features-text-bold {
  font-family: Archivo;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -1px;
}
.features-text {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -1px;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 60px 208px 72px;
  }
  .features-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 500px;
    height: 132px;
    gap: 16px;
    border-radius: 16px;
    padding: 16px;
  }

  .features-text-bold {
    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -5%;
  }
  .features-text {
    font-family: Archivo;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -4%;
  }
}
.footer {
  padding: 16px 16px 40px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 24px;
}
.footer-text {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -4%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(98, 16, 82, 1);
}

.footer-copyright {
  font-family: Archivo;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px 42px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 43px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }
  .footer-text {
    font-family: Archivo;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -4%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Archivo;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -4%;
  }
}
.policy-terms-container {
  padding: 100px 16px 40px;
  font-family: Archivo;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: -4%;
}
.policy-terms-title {
  font-family: Archivo;
  font-weight: 900;
  font-size: 40px;

  letter-spacing: -6%;
  text-align: center;
  -webkit-text-stroke: 3px rgba(94, 9, 89, 1);
  color: rgba(255, 137, 181, 1);
  text-shadow: 0px 1px 2px rgba(94, 9, 89, 1);
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Archivo;
  font-weight: 600;
  font-size: 28px;

  letter-spacing: -5%;
  color: rgba(98, 16, 82, 1);
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 172px 80px;
    width: 1440px;
    margin: auto;
    font-family: Archivo;
    font-weight: 500;
    font-size: 16px;

    letter-spacing: -4%;
  }
  .policy-terms-title {
    font-family: Archivo;
    font-weight: 900;
    font-size: 48px;

    letter-spacing: -6%;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Archivo;
    font-weight: 600;
    font-size: 28px;

    letter-spacing: -5%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 16px;
  background: rgba(98, 16, 82, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Archivo;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;

  color: rgba(240, 245, 254, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 229, 83, 1);
  width: 158px;
  padding: 10px 0;

  font-family: Archivo;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(240, 245, 254, 1);
}
#accept-cookies {
  background: rgba(255, 229, 83, 1);
  box-shadow: 0px 2px 4px 0px rgba(46, 40, 4, 0.6);
  color: rgba(32, 32, 32, 1);

  border-radius: 8px;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Archivo;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px;
    display: none;
  }
}
